<div id="container" class="column">
  <form class="form-signup" action="/signup/forteacher" method="post">
    <div id="intro" class="form-row mb-3">
      <label class="form-label" for="intro">Your Introduction</label>
      <input class="form-control" type="text" name="intro" id="intro" placeholder="Text">
    </div>

    <div id="style" class="form-row mb-3">
      <label class="form-label" for="style">Your Teaching Style</label>
      <input class="form-control" type="text" name="style" id="style" placeholder="Text">
    </div>

    <div id="link" class="form-row mb-3">
      <label class="form-label" for="link">課程視訊連結</label>
      <input class="form-control" type="text" name="link" id="link" placeholder="Text">
    </div>

    <div id="booking" class="mb-3">
      <div class="mb-2">
        <label>開放預約</label>
      </div>
      
      <div class="d-flex ">
        <div class="me-3">
          <input type="checkbox" name="booking" id="mon" value="1">
          <label for="mon">Mon</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="tue" value="2">
          <label for="tue">Tue</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="wed" value="3">
          <label for="wed">Wed</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="thu" value="4">
          <label for="thu">Thu</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="fri" value="5">
          <label for="fri">Fri</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="sat" value="6">
          <label for="sat">Sat</label>
        </div>
        <div class="me-3">
          <input type="checkbox" name="booking" id="sun" value="7">
          <label for="sun">Sun</label>
        </div>

      </div>
    </div>
    
    <button class="btn btn-info text-white mb-3" type="submit">Submit</button>
  </form>

  <form action="/" method="get">
    <button class="btn btn-outline-info">Cancel</button>
  </form>

</div>